* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background: white;
}

.header {
	background: linear-gradient(#43c6ac, #191654);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -20px;
}

.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.header-wrapper h1 {
	color: white;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	opacity: 0.6;
}

.Impact {
	font-size: 40px;
	font-weight: 100;
	position: relative;
	left: 23px;
	font-family: 'Roboto Mono', monospace;
}

.web {
	font-size: 80px;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
}
.design {
	font-size: 30px;
	font-weight: 100;
	position: relative;
	right: 15px;
	font-family: 'Raleway Dots', cursive;
}

.header-wrapper nav {
	display: flex;
	list-style: none;
	align-items: center;
}

.header-wrapper nav li {
	padding: 0 30px;
	color: white;
}

.header-text {
	color: white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template: 1fr 1fr 1fr;
}

.header-text h1 {
	font-weight: 100;
	align-self: center;
	justify-self: center;
	margin: 47px 0;
	font-family: 'Raleway', sans-serif;
}

.header-text p {
	align-self: center;
	justify-self: center;
	margin-bottom: 0px;
	font-family: 'Roboto Mono', monospace;
}

.header-text .coming-soon {
	color: white;
}

.main {
	margin: 0px 0;
	background: rgba(199, 199, 199, 0.192);
}

.personal-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}

.profile-picture img {
	border-radius: 50%;
}

.profile-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 30%;
	margin: 0 0 0 100px;
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
}

.profile-text h1 {
	margin: 30px 0;
}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 100px 0;
}

.services-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.services-info div {
	border: 1px solid rgba(0, 0, 0, 0.13);
	padding: 20px 50px;
	border-radius: 40px;
	background: rgba(199, 199, 199, 0.192);
	width: 100%;
}

.services-info h2 {
	font-family: 'Gayathri', sans-serif;
	margin: 20px 0;
}

.services-info p {
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
}

.services div {
	margin: 10px 30px;
	text-align: center;
}

.services h1 {
	margin: 30px 0;
	font-family: 'Montserrat', sans-serif;
}

.website-design {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.website-development {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cost-effective {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1600px) {
	.header-text p {
		margin-bottom: 460px;
	}
}

@media (max-width: 850px) {
	.header-wrapper {
		flex-direction: column;
	}
	.header-text p {
		margin-bottom: 420px;
	}
}

@media (max-width: 520px) {
	.header-wrapper nav {
		flex-direction: column;
	}
	.header-wrapper nav li {
		padding: 10px;
		font-size: 20px;
		font-weight: 100;
		font-family: 'Roboto Mono', monospace;
	}
	.header-text h1 {
		font-size: 0 auto;
		text-align: center;
	}
	.header-text p {
		text-align: center;
	}
	.header-text p {
		margin-bottom: 190px;
	}
}

.copyRight {
	color: black;
	font-family: 'Orbitron', sans-serif;
	font-size: 0.8em;
	letter-spacing: 2px;
	text-align: center;
	color: BLACK;
	padding: 10px 0;
}
