* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background: white;
	scroll-behavior: smooth;
}

.header {
	background: linear-gradient(#2980b9, #2c3e50);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0 0 100px 0;
}

.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.header-wrapper h1 {
	color: white;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	opacity: 0.6;
}

.Impact {
	font-size: 40px;
	font-weight: 100;
	position: relative;
	left: 23px;
	font-family: 'Roboto Mono', monospace;
}

.web {
	font-size: 80px;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
}
.design {
	font-size: 30px;
	font-weight: 100;
	position: relative;
	right: 15px;
	font-family: 'Raleway Dots', cursive;
}

.header-wrapper nav {
	display: flex;
	list-style: none;
	align-items: center;
}

.header-wrapper nav li {
	padding: 0 30px;
	color: white;
}

.header-text {
	color: white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template: 1fr 1fr 1fr;
}

.header-text h1 {
	font-weight: 100;
	align-self: center;
	justify-self: center;
	margin: 47px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
}

.header-text p {
	align-self: center;
	justify-self: center;
	margin-bottom: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
}

.header-text .coming-soon {
	color: white;
}

.main {
	margin: 0px 0;
	background: rgba(199, 199, 199, 0.192);
	padding: 100px 0 0 0;
}

.div {
	margin: 80px 0;
}
.personal-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}

.profile-picture img {
	border-radius: 50%;
}

.profile-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 35%;
	margin: 0 100px 0 0;
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
}

.profile-text button {
	border: 4px solid black;
	border-radius: 50px;
	padding: 10px 20px;
	font-size: 30px;
	background: none;
}

.profile-text button:hover {
	background: black;
	color: white;
	transition: 0.3s;
	cursor: pointer;
}

.profile-text h1 {
	margin: 30px 0;
	line-height: 40px;
	text-align: center;
}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	width: 80%;
}

.services-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.services-info div {
	border: 1px solid rgba(0, 0, 0, 0.13);
	padding: 20px 30px;
	border-radius: 40px;
	background: rgba(199, 199, 199, 0.192);
	width: 100%;
}

.services-info h2 {
	font-family: 'Gayathri', sans-serif;
	margin: 20px 0;
	font-size: 25px;
}

.services-info p {
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
}

.services div {
	margin: 10px 30px;
	text-align: center;
}

.services h1 {
	margin: 30px 0;
	font-family: 'Montserrat', sans-serif;
}

.website-design {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.website-development {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cost-effective {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.designs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.designs h1 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.design-heading {
	display: flex;
	justify-content: center;
}

.design-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	list-style: none;
	text-align: center;
	width: 70%;
	line-height: 25px;
	font-family: 'Montserrat', sans-serif;
	margin: 50px 0;
}

.design-list h2 {
	margin: 15px 0;
	font-weight: 400;
	font-size: 25px;
}

#contact-me {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 50px 0;
}

#contact-me p {
	margin: 50px 0 100px 0;
}

.design-list div {
	margin: 30px 30px;
}
/* 
@media (max-width: 1600px) {
	.header-text p {
		margin-bottom: 460px;
	}
} */

@media (max-width: 1300px) {
	.services-info {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.services div {
		margin: 10px 10px;
		text-align: center;
	}
}

@media (max-width: 1300px) {
	.design-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 1000px) {
	.services {
		width: 90%;
	}
}

@media (max-width: 850px) {
	.header-wrapper {
		flex-direction: column;
		text-align: center;
	}
	/* .header-text p {
		margin-bottom: 420px;
	} */
	.services-info {
		display: flex;
		flex-direction: column;
	}
	.services div {
		margin: 20px 30px;
	}

	.services h1 {
		margin: 0;
		font-family: 'Montserrat', sans-serif;
	}
	.services {
		width: 80%;
	}

	.personal-info img {
		width: 300px;
		height: 300px;
	}
}
@media (max-width: 1000px) {
	.services {
		width: 90%;
	}
}

@media (max-width: 816px) {
	.personal-info {
		display: flex;
		flex-direction: column-reverse;
	}

	.profile-text {
		margin: 50px 0 0 0;
	}
}

@media (max-width: 700px) {
	.design-list {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 575px) {
	.header-wrapper nav {
		flex-direction: column;
	}
	.header-wrapper nav li {
		padding: 10px;
		font-size: 20px;
		font-weight: 100;
		font-family: 'Roboto Mono', monospace;
	}

	.header-text h1 {
		text-align: center;
	}
	/* .header-text p {
		margin-bottom: 190px;
	} */

	.profile-text button {
		border: 4px solid black;
		border-radius: 50px;
		padding: 10px 20px;
		width: 100%;
		font-size: 25px;
		background: none;
	}
	.profile-text {
		width: 80%;
	}
}

.copyRight {
	color: black;
	font-family: 'Orbitron', sans-serif;
	font-size: 0.8em;
	letter-spacing: 2px;
	text-align: center;
	color: BLACK;
	padding: 10px 0;
}
